*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
   font-weight: 700;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: rgba(255, 248, 243, 1);
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
font-weight: 800;
}
.color-orange{
    color: #FD6E0A;
}
 .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items:center;
}
.menu a{
    font-size: 20px;
    color:  rgba(71, 71, 71, 1);
    text-decoration: none;

}